.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 20px;
  &-content{
    display: flex;
    justify-content: center;
    .row{
      padding-bottom: 45px;
      justify-content: space-between;
      .col{
        width: 25%;
      }
      .col-phone{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .scroll{
          text-transform: uppercase;
          a{
            font-size: 1.1rem;
            font-family: $font-medium;
            letter-spacing: 4px;
          }
        }
        p{
          font-family: $font-light;
          font-size: 1.2rem;
        }
        a{
          font-size: 1.4rem;
          font-family: $font-demi;
          font-weight: bold;
        }
      }
      .col-payment{
        display: flex;
        a{
          flex: 0 0 22%;
        }
        .paypal{
          height: 17px;
          width: 65px;
          background-image: url(assets/img/svg/paypal.svg);
          background-size: cover;
        }
        .visa{
          height: 14px;
          width: 45px;
          background-image: url(assets/img/svg/visa.svg);
          background-size: cover;
        }
        .mastercard{
          height: 12px;
          width: 100px;
          background-image: url(assets/img/svg/mastercard.svg);
          background-size: cover;
        }
      }
      .col-social{
        .social-link{
          height: 14px;
          width: 70px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .col-policy{
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        
        font-family: $font-light;
        .links{
          display: flex;
          justify-content: flex-start;
          line-height: 25px;
          a{ 
            font-family: $font-light;
            flex:0 0 25%;
          }
        }
      }
    }
  }
}