.header{
  &-content{
    .container-fluid{
      padding-top:70px;
      .row{
        .col-logo{
          .logo{
            height: 104px;
            width: 104px;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        .col-nav{
          max-width: 1200px;
          flex: 0 0 80%;
          ul{
            display:flex;
            justify-content: space-around;
            a{
              font-family: $font-medium;
              font-size: 1.1rem;
              letter-spacing: 4px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}