//Typography

$font-size: 11px;
$font-family: FuturaPT-Book, sans-serif;
$font-light: FuturaPT-Light, sans-serif;
$font-bold: FuturaPT-Heavy, sans-serif;
$font-medium: FuturaPT-Medium, sans-serif;
$font-demi: FuturaPT-Demi, sans-serif;

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: $font-family;
  font-size: 10px;
  color: $white;
}
.container-fluid{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.col{
  max-width: 385px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1600px;
}
p{
  font-family: $font-light;
}
a{
  color: $white;
  &:hover{
    color: $light-blue;
  }
}