
@font-face {
  font-family: 'Authenia-Regular';
  src: url('../../assets/fonts/Authenia-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Authenia-Regular.otf')  format('opentype'),
       url('../../assets/fonts/Authenia-Regular.woff') format('woff'), 
       url('../../assets/fonts/Authenia-Regular.ttf')  format('truetype'),
       url('../../assets/fonts/Authenia-Regular.svg#Authenia-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Arkhip';
    src: url('../../assets/fonts/Arkhip.eot?#iefix') format('embedded-opentype'),  
         url('../../assets/fonts/Arkhip.otf')  format('opentype'),
         url('../../assets/fonts/Arkhip.woff') format('woff'), 
         url('../../assets/fonts/Arkhip.ttf')  format('truetype'), 
         url('../../assets/fonts/Arkhip.svg#Arkhip') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdventPro-ExtraLight';
    src: url('../../assets/fonts/AdventPro-ExtraLight.eot?#iefix') format('embedded-opentype'),  
         url('../../assets/fonts/AdventPro-ExtraLight.woff') format('woff'), 
         url('../../assets/fonts/AdventPro-ExtraLight.ttf')  format('truetype'), 
         url('../../assets/fonts/AdventPro-ExtraLight.svg#AdventPro-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bradobrei';
    src: url('../../assets/fonts/Bradobrei.eot?#iefix') format('embedded-opentype'),  
         url('../../assets/fonts/Bradobrei.otf')  format('opentype'),
         url('../../assets/fonts/Bradobrei.woff') format('woff'), 
         url('../../assets/fonts/Bradobrei.ttf')  format('truetype'), 
         url('../../assets/fonts/Bradobrei.svg#Bradobrei') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EddaFilled';
    src: url('../../assets/fonts/EddaFilled.eot?#iefix') format('embedded-opentype'),  
         url('../../assets/fonts/EddaFilled.otf')  format('opentype'),
         url('../../assets/fonts/EddaFilled.woff') format('woff'), 
         url('../../assets/fonts/EddaFilled.ttf')  format('truetype'), 
         url('../../assets/fonts/EddaFilled.svg#EddaFilled') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Book';
    src: url('../../assets/fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),  
         url('../../assets/fonts/FuturaPT-Book.woff') format('woff'),
         url('../../assets/fonts/FuturaPT-Book.ttf')  format('truetype'), 
         url('../../assets/fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-BookObl';
    src: url('../../assets/fonts/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/FuturaPT-BookObl.otf')  format('opentype'),
         url('../../assets/fonts/FuturaPT-BookObl.woff') format('woff'),
         url('../../assets/fonts/FuturaPT-BookObl.ttf')  format('truetype'),
         url('../../assets/fonts/FuturaPT-BookObl.svg#FuturaPT-BookObl') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPTCond-ExtraBoldObl';
    src: url('../../assets/fonts/FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/FuturaPTCond-ExtraBoldObl.otf')  format('opentype'),
         url('../../assets/fonts/FuturaPTCond-ExtraBoldObl.woff') format('woff'),
         url('../../assets/fonts/FuturaPTCond-ExtraBoldObl.ttf')  format('truetype'),
         url('../../assets/fonts/FuturaPTCond-ExtraBoldObl.svg#FuturaPTCond-ExtraBoldObl') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Demi';
    src: url('../../assets/fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/FuturaPT-Demi.otf')  format('opentype'),
         url('../../assets/fonts/FuturaPT-Demi.woff') format('woff'), 
         url('../../assets/fonts/FuturaPT-Demi.ttf')  format('truetype'), 
         url('../../assets/fonts/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Heavy';
    src:url('../../assets/fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),  
        url('../../assets/fonts/FuturaPT-Heavy.otf')  format('opentype'),
        url('../../assets/fonts/FuturaPT-Heavy.woff') format('woff'), 
        url('../../assets/fonts/FuturaPT-Heavy.ttf')  format('truetype'), 
        url('../../assets/fonts/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Light';
    src: url('../../assets/fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/FuturaPT-Light.otf')  format('opentype'),
        url('../../assets/fonts/FuturaPT-Light.woff') format('woff'), 
        url('../../assets/fonts/FuturaPT-Light.ttf')  format('truetype'), 
        url('../../assets/fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Medium';
    src: url('../../assets/fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),  
        url('../../assets/fonts/FuturaPT-Medium.otf')  format('opentype'),
        url('../../assets/fonts/FuturaPT-Medium.woff') format('woff'), 
        url('../../assets/fonts/FuturaPT-Medium.ttf')  format('truetype'), 
        url('../../assets/fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lighthaus';
    src: url('../../assets/fonts/Lighthaus.eot?#iefix') format('embedded-opentype'),  
        url('../../assets/fonts/Lighthaus.otf')  format('opentype'),
        url('../../assets/fonts/Lighthaus.woff') format('woff'), 
        url('../../assets/fonts/Lighthaus.ttf')  format('truetype'), 
        url('../../assets/fonts/Lighthaus.svg#Lighthaus') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass-Black';
    src: url('../../assets/fonts/Overpass-Black.eot?#iefix') format('embedded-opentype'),  
        url('../../assets/fonts/Overpass-Black.woff') format('woff'), 
        url('../../assets/fonts/Overpass-Black.ttf')  format('truetype'), 
        url('../../assets/fonts/Overpass-Black.svg#Overpass-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass-Regular';
    src: url('../../assets/fonts/Overpass-Regular.eot?#iefix') format('embedded-opentype'),  
        url('../../assets/fonts/Overpass-Regular.otf')  format('opentype'),
        url('../../assets/fonts/Overpass-Regular.woff') format('woff'), 
        url('../../assets/fonts/Overpass-Regular.ttf')  format('truetype'), 
        url('../../assets/fonts/Overpass-Regular.svg#Overpass-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass-Thin';
    src: url('../../assets/fonts/Overpass-Thin.eot?#iefix') format('embedded-opentype'),  
        url('../../assets/fonts/Overpass-Thin.otf')  format('opentype'),
        url('../../assets/fonts/Overpass-Thin.woff') format('woff'), 
        url('../../assets/fonts/Overpass-Thin.ttf')  format('truetype'), 
        url('../../assets/fonts/Overpass-Thin.svg#Overpass-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}
                
   